.main__checkout {
  height: 550px;
  width: 30%;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  padding: 50px;
  margin-left: 100px;
}

.cadastro {
  align-self: center;
  color: #323232;
  font-size: 1.7rem;
}

.cadastro h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.main__form {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.dadoscobranca {
  display: none;
  flex-flow: column;
  align-items: flex-start;
}

.dadoscartao {
  display: none;
}

.main__form > div {
  margin-top: 20px;
}

.dadoscobranca > div {
  margin-top: 10px;
}

label {
  font-size: 1rem;
  align-self: flex-start;
  color: #747474;
  display: block;
}

input {
  padding: 5px;
  border-bottom: 2px solid #747474;
  transition: .3s;
  width: 400px; 
}

.botaoconfirma {
  margin-top: 30px;
  border: 1px solid #4fc3f7;
  border-radius: 50px;
  padding: 10px;
  width: 200px;
  font-size: 1.5rem;
  transition: .3s;
  align-self: center;
}

.botaoconfirma:hover{
  background-color: #4fc3f7;
}

label[for="numero"], label[for="complemento"], label[for="bairro"],
label[for="cidade"], label[for="estado"], label[for="opcao"], label[for="cartaocredito"], label[for="codigo"] {
  display: inline;
}

input:focus {
  border-bottom: 2px solid black;
}

input[class="complementocliente"] {
  width: 105px;
}

input[class="bairrocliente"]{
  width: 150px;
}

input[class="cidadecliente"]{
  width: 200px;
}

input[class="ruacliente"] {
  width: 350px;
}

input[class="estadocliente"] {
  width: 30px;
}

input[class="codigocliente"], input[class="numerocliente"] {
  width: 40px;
}

input[class="cartaocliente"] {
  width: 200px;
}

input[disabled] {
  background-color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

i {
  font-size: 1.2rem;
  color: #66bb6a;
  visibility: hidden;
}