main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmapedido {
  width: 1000px;
  height: 800px;
  background-color: white;
  margin-left: 100px; 
  border-radius: 4px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.main__titulo {
  background-color: #66bb6a;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #388e3c;
  border-bottom: 1px solid #747474;
  border-radius: 4px;
}

.main__titulo h1 {
  margin-left: 20px;
  color: black;
}

.confirmapedido h2 {
  margin-top: 20px;
  font-size: 1.5rem;
}

.dadoscliente {
  border: 1px solid #747474;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
}

.formapagamento {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}

.cupom {
  display: flex;
  flex-flow: column;
}

.botaocupom {
  border: 1px solid black;
  width: 200px;
  padding: 10px;
  border-radius: 4px;
  font-size: 1.5rem;
  align-self: center;
  margin-top: 10px;
  transition: .3s;
}

.botaocupom:hover {
  background-color: #66bb6a;
}

input {
  border: 1px solid #747474;
  border-radius: 4px;
  padding: 5px;
}

.botoes {
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}

.custom {
  font-size: 1.5rem;
  border: 1px solid black;
  padding: 10px;
  border-radius: 4px;
  width: 200px;
  transition: .3s;
}

.cancelar:hover {
  background-color: #c62828;
  color: white;
}

.confirmar:hover {
  background-color: #66bb6a;
}

/* CSS Tabela */
.table {
  background-color: #fff;
}

table {
  width: 100%;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column1 {
  width: 33%;
  padding-left: 40px;
  text-align: center;
}

.column2 {
  width: 13%;
  text-align: center;
}

.column3 {
  width: 22%;
  text-align: center;
}

.column4 {
  width: 19%;
  text-align: center;
}

.table-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

.table {
  position: relative;
  padding-top: 60px;
}

.table-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table-body {
  max-height: 300px;
  overflow: auto;
}



.limiter {
  width: inherit;
  margin: 0 auto;
}

.container-table {
  width: 900px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table {
  width: 900px;
}

.table.ver5 {
  margin-right: -30px;
}

.table.ver5 .table-head {
  padding-right: 30px;
}

.table.ver5 th {
  font-family: Arial;
  font-size: 14px;
  color: black;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: transparent;
}

.table.ver5 td {
  font-family: Arial;
  font-size: 15px;
  color: black;
  line-height: 1.4;
  background-color: #f7f7f7;
  text-transform: uppercase;
}

.table.ver5 .table-body tr {
  overflow: hidden; 
  border-bottom: 10px solid #fff;
  border-radius: 10px;
}

.table.ver5 .table-body table { 
  border-collapse: separate; 
  border-spacing: 0 10px; 
}
.table.ver5 .table-body td {
    border: solid 1px transparent;
    border-style: solid none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.table.ver5 .table-body td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}
.table.ver5 .table-body td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
}

.table.ver5 tr:hover td {
  background-color: #ebebeb;
  cursor: pointer;
}

.table.ver5 .table-head th {
  padding-top: 25px;
  padding-bottom: 25px;
}

.table.ver5 {
  overflow: hidden;
}

.table.ver5 .table-body{
  padding-right: 30px;
}

.table.ver5 .ps__rail-y {
  right: 0px;
}

.table.ver5 .ps__rail-y::before {
  background-color: #ebebeb;
}

.table.ver5 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
}
