.main {
  justify-content: center;
}

.pedidoconfirmado {
  width: 30%;
  height: 23%;
  background-color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.main__titulo{
  background-color: #66bb6a;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pedidoconfirmado i {
  font-size: 3rem;
  text-align: center;
  color: #388e3c;
}

.main__h1 {
  font-size: 2rem;
  margin-top: 10px;
}

.main__p {
  font-size: 1.2rem;
  margin-top: 20px;
  text-align: center;
}